{
  "presets": ["@babel/preset-env"],
  "retainLines": true,
  "sourceMaps": true,
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@root": ".",
        "@models": "./src/models",
        "@managers": "./src/managers"
      }
    }]
  ]
}